
<ul class="nav navbar-nav hidden-print">
  <div class="dropdown menu-dropdown">
    <button class="btn btn-primary dropdown-toggle menu-button" type="button" data-toggle="dropdown">
    <span class="glyphicon glyphicon-menu-hamburger menu-icon"></span></button>

    <ul class="dropdown-menu pull-right">
      <li><a [routerLink]="['members']">Members</a></li>
      <li><a [routerLink]="['maintenance']">Maintenance</a></li>
      <li><a [routerLink]="['nametags']">Name tags</a></li>
      <li><a [routerLink]="['reports']">Reports</a></li>
    </ul>
    
  </div>
</ul>
