<!--<form (submit)="login($event, username.value, password.value)" #memberForm="ngForm" class="panel">
<div class="panel">
  &lt;!&ndash;<span [hidden]="member.email.valid" class="badge badge-warning">Required</span>&ndash;&gt;
  <div class="panel-body">
    <div>
      <h1>Welcome {{someData}}</h1>
    </div>
    <div class="form-inline">
      <label for="un" class="login-label">User Name</label>
      <input #username  id="un" name="un" type="text" class="form-control input-custom" size="10">
    </div>
    <div class="form-inline">
      <label for="pw" class="login-label">Password</label>
      <input #password id="pw" name="pw" type="password" class="form-control input-custom" size="10">
    </div>
    <div class="submit">
      <button  type="submit" class="btn-custom">Login</button>
    </div>
  </div>
  &lt;!&ndash;<label><input type="checkbox" [(ngModel)]="showCompleted" name="memberCompleted"> show completed</label>&ndash;&gt;
</div>
</form>-->

<div class="form-container">
  <img src="assets/images/lock.svg" id="lock">

  <span class="error" *ngIf="error">{{ error }}</span>

  <Form ngModel="model" (ngSubmit)="loginEmail()">
    <label *ngFor="username">user name</label>
    <input type="text" [(ngMode)]="email" id="username">
    <label *ngFor="password">password</label>
    <input type="password" [(ngModel)]="password" id="password">
    <button type="submit">Email Login</button>
  </Form>
  <!--<button (click)="loginFb()" id="fb">Login With Facebook</button><br>
  <button (click)="loginGoogle()" id="google">Login With Google</button>-->


  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
</div>
