<form (submit)="login($event, username.value, password.value)" #memberForm="ngForm" class="panel">
<div class="panel">
  <!--<span [hidden]="member.email.valid" class="badge badge-warning">Required</span>-->
  <div class="panel-body">
    <div>
      <h1>Welcome {{someData}}</h1>
    </div>
    <div class="form-inline">
      <label for="un" class="login-label">User Name</label>
      <input #username  id="un" name="un" type="text" class="form-control input-custom" size="10">
    </div>
    <div class="form-inline">
      <label for="pw" class="login-label">Password</label>
      <input #password id="pw" name="pw" type="password" class="form-control input-custom" size="10">
    </div>
    <div class="submit">
      <button  type="submit" class="btn-custom">Login</button>
    </div>
  </div>
  <!--<label><input type="checkbox" [(ngModel)]="showCompleted" name="memberCompleted"> show completed</label>-->
</div>
</form>
