.report-body{
  background-color: white;
  color: black;
}
.theborder{
  border: 2px solid red;
  border-radius: 5px;
  width: 300px;
  height: 90px;
  padding: 1em;
  margin: 2px 6px;
  color: black;  
}
