
<form (submit)="submitForm()" #memberForm="ngForm" autocomplete="off">

  <div *ngIf="showInputs">
    <div class="form-group">
      <div class="row col-xs-7 col-sm-6 col-lg-8">
        <div ><h3>Payment Detail</h3></div>
        <div class="form-inline">
          <label for="paydate">Date</label>
          <input required [(ngModel)]="humanDate" id="paydate" name="payDate" type="date" class="form-control-dt">
        </div>
        <div class="form-inline">
          <label for="amt">Amount</label>
          <input required [(ngModel)]="pay.amount" id="amt" name="amount" type="number" class="form-control-amt">
        </div>
        <div class="form-inline">
          <label for="typ">Type</label>
          <input [(ngModel)]="pay.type" id="typ" name="type" type="text" class="form-control-pt" size="20">
        </div>
        <div class="submit">
          <button *ngIf="isShowSubmit" type="submit" class="btn-custom">Save</button>
          <button *ngIf="isShowAddNew" type="button" class="btn-custom" (click)="onAdd()">Add</button>
          <button *ngIf="isShowDiscard" type="button" class="btn-custom" (click)="onDiscard()">Discard</button>
          <button *ngIf="isShowDelete" type="button" class="btn-custom" (click)="onDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!--</div>-->
<!--<div class="col-md-5">-->
<div *ngIf="showList" class="row col-md-5">
  <div  id="scrolltableskinny">
    <table class="itemtable">
      <tr>
        <th>pay date</th>
        <th>amount</th>
        <th>type</th>
      </tr>
      <tr  *ngFor="let tpay of payments" [class.itemselected]="item === selectedItem" (click)="onPaymentTable(tpay)">
        <td nowrap> {{tpay.receivedDate | date:"yyyy-MM-dd"}}</td>
        <td nowrap> {{tpay.amount}}</td>
        <td nowrap> {{tpay.type}}</td>
      </tr>
    </table>
  </div>
</div>
<!--</div>
</div>-->

<!--<div class="col-md-{{ecol}}">

<div *ngIf="usermode==='normal'">
  <div>
    date: {{receivedDateFormatted}}
    amount: {{pay.amount}}
  </div>
  <div>
    <button type="button" class="btn-custom" (click)="onAdd()">Add</button>
    <button *ngIf="paymode==='Save'" type="button" class="btn-custom" (click)="onEdit()">Edit</button>
  </div>
</div>

<div class="panel">
  <div class="panel-body">

  <span [hidden]="member.email.valid" class="badge badge-warning">Required</span>
-->
