#toolbar {
  padding:0;
  width:70%;
  margin-left:-35%;
}

header {
  background:#3B8598;
  width:100%;
}

.basic-btn {
  width:100px;
  margin:0;
}

#page {
  padding:3em;
  margin:0;
}

#page img {
  margin-top:30px;
}

h2 {
  margin:0;
}


@media (max-width: 600px) {
  #page {
    padding:1em;
  }
  #toolbar {
    width:90%;
    margin-left: -45%;
  }
}
/* add a thin border to the left of cells, but not the first */
/*
.tablecontainer td + td {
   border-left:1px solid #eee;
 }
*/

/* cell padding and bottom border */
/*.tablecontainer td, th {
  border-bottom:1px solid #eee;
  padding: 2px;
}*/

/* make the default header height 0 and make text invisible */
/*
.tablecontainer table thead th {
  height: 20px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0;
  visibility: hidden;
  white-space: nowrap;
}
*/

/* prevent the left border from above appearing in first div header */

/* alternate colors for rows */


.table-header{
  height: 20px;
  width: 100%;
  border: 1px solid lightblue;
}
#table-wrapper {
  height:150px;
  overflow:auto;
  margin-top:20px;
}
#table-wrapper table {
  width:100%;
}
#table-wrapper table thead th {
  height:20px;
  width:35%;
  border:1px solid red;
}

h3{
  background-color: #1d2528;
}
.back-color{
  background-color: #1d2528;
  padding: 0px;
  margin: 0px;
}
.h250{
  height: 250px;
}
.h120{
  height: 120px;
}
.font14{
  font-size: 14px;
}
.colorwhite{
  color: white;
}
.fontmedium{
  font-size:16px;
}
.plain{
  color: yellow;
}
.widthState{
  width: 20px;
}
.widthZip{
  width: 70px;
}
.deal{
  background-color: #1d2528;
  color: lightgrey;
}
.submit {
  background-color: #1d2528;
  color: lightgreen;
  font-size: large;
  min-height: 20px;
  min-width: 50px;
}
.list-options {
  vertical-align: middle;
  display: inline-block;
}
[hidden] {
  display: none;
}
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form) {
  border-left: 5px solid orange; /* orange */
}
.form-group{
  background-color: #1d2528;
  color: lightblue;
}

.clred {
  color: #830000;
}
.clgreen{
  color: #3c763d;
}

.itemtable {
  background-color: #1f2f2f;
  margin: 0 0 1em 0;
  color: #a8af87;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: x-small;
  padding-left: 4px;
  max-height: 200px;
  overflow: auto;

}

.image {
  border: 1px solid darkgray;
  border-collapse: collapse;
  width: 2em;
}

.itemtable tr {

  color: #c0c9c7;
}

.itemtable tr th{
  min-width: 3em;
  padding: .5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;

}
.itemtable tr td{
  padding: .2em;
  max-height: 2em;
  color: yellow;
}
.input-short{
  background-color: #1f2f2f;
  border-color: #102020;
  color: #ffc12b;
  max-height: 2em;
  width: 4em;
  border-radius: 6px;
  padding: .2em;
}

.input{
  background-color: #1f2f2f;
  border-color: #102020;
  color: #ffc12b;
  border-radius: 6px;
  max-height: 2em;
  width: auto;
  padding: .2em;
}

.itemtable tr.selected:hover {
  background-color: #1f2f2f !important;
  color: #c0c9c7;
  cursor: pointer;
}

.itemtable tr:hover {
  color: #c0c9c7;
  background-color: #396763;
  left: .1em;
}

.horizontal li {
  display: inline-block;
  zoom: 1;
  *display: inline; /* this fix is needed for IE7- */
}
.bomtext{
  margin-left: 5px;
  color: #a8af87;
}
.bomtext a{
  margin-left: 8px;
  color: #a8af87;
}
.alerttext {
  color: #BD0913
}

.visible {
  display: block
}

.hidden {
  display: none
}

.halblue {
  background-color: #1f2f2f !important;
  color: #c0c9c7;
}

.halblue li {
  color: #c0c9c7;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.hal li.selected:hover {
  background-color: #396763 !important;
  color: #c0c9c7;
  cursor: pointer;
}

.hal li:hover {
  color: #c0c9c7;
  background-color: #396763;
  left: .1em;
}

.item {
  color: #c0c9c7;
}

.halselected {
  background-color: #396763 !important;
  color: #c0c9c7;
}

.hal {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.hal li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #1f2f2f;
  margin: .5em;
  padding: .3em 0;
  height: 3.6em;
  border-radius: 4px;
}

.hal li.selected:hover {
  background-color: #396763 !important;
  color: #c0c9c7;
}

.hal li:hover {
  color: #c0c9c7;
  background-color: #1f2f2f;
  left: .1em;
}

.hal .text {
  position: relative;
  top: -3px;
}

.doinline li {
  position: relative;
  left: 0;
  background-color: transparent;
  margin: .5em;
  padding: .3em 0;
  border-radius: 4px;
  display: inline;
}

.doinline li input {
  background-color: #396763 !important;
  color: #c0c9c7;
}

.selected {
  background-color: #1f2f2f !important;
  color: #c0c9c7;
}

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
  font-family: Tahoma;
  font-size: 14;
  max-height: 500px;
  overflow: auto;
}

.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: transparent;
  border-radius: 4px;
}

.heroes li.selected:hover {
  background-color: #396763 !important;
  color: #c0c9c7;
}

.heroes li:hover {
  color: #f0f9c7;
  background-color: #396763;
}

.heroes .text {
  position: relative;

}

.heroes img {
  vertical-align: middle;
  position: absolute;
}

.heroes li p {
  display: inline-block;
  vertical-align: middle;
}

.heroes .button {
  background-color: #1d2528;
  color: #ade6fb;
  border-radius: 4px 0 0 4px;
}

.station {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  font-family: Tahoma;
  font-size: 12;
  max-height: 500px;
  overflow: auto;
  width: 35em;
}

.station image {
  float: left;
}

img.image {
  height: 24px;
  width: 24px;

}

.price {
  color: #c3ffb6;

  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

img.imager {
  float: right;
  margin-left: 10px;
}

