<div class="form-container" id="toolbar">
  <header [@fallIn]="state">
    <button (click)="logout()" class="basic-btn">Logout</button>
  </header>
  <div id="page" [@moveInLeft]="state">
    <h2>Hey {{ name.auth.displayName }}!</h2>

    <img src="assets/images/filler.png" />
  </div>

</div>
<div class="panel">
  <div class="panel-body">
    <div class="top-logo">
      <img [src]="logoUrl"/>
      <h3>| Members: &nbsp;<span class="badge">{{membercount}}</span>
      | Active Members: &nbsp;<span class="badge">{{activecount}}</span>
      | VIP Members: &nbsp;<span class="badge">{{vipcount}}</span>  </h3>
    </div>
    <div class="panel-body">
      {{bug}}
    </div>
    <div *ngIf="usermode==='normal'" class="row">
      <div class="col-md-4">
        <div>
          <h3>Quick Filter</h3>
        </div>
        <div class="form-inline">
          <div>
            <label for="selActive">is active</label>
            <input type="checkbox" id="selActive" name="selActive" value="false" class="form-control input-custom" [(ngModel)]="activeFilter">
            <label for="selVIP">is VIP</label>
            <input type="checkbox" id="selVIP" name="selVIP" value="false" class="form-control input-custom" [(ngModel)]="VIPFilter">
          </div>
          <div>
            <label for="selFamily">is family</label>
            <input type="checkbox" id="selFamily" name="selFamily" value="false" class="form-control input-custom" [(ngModel)]="familyFilter">
            <label for="selNametag">needs name tag</label>
            <input type="checkbox" id="selNametag" name="selNametag" value="false" class="form-control input-custom" [(ngModel)]="nametagFilter">
          </div>

          <div>
            <label for="selfirstName">first name</label>
            <input type="text" id="selfirstName" name="selfirstName" value="" class="form-control input-custom"  size="5" [(ngModel)]="firstNameFilter">
          </div>
          <div>
            <label for="sellastName">last name</label>
            <input type="text" id="sellastName" name="sellastName" value="" class="form-control input-custom"  size="5" [(ngModel)]="lastNameFilter">
          </div>
          <div class="submit">
            <button *ngIf="isShowRefresh" type="button" class="btn-custom" (click)="onRefresh()" >Refresh</button>
            <button *ngIf="isShowAddNewMember" type="button" class="btn-custom" (click)="onAddNewMember()">Add New Member</button>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div>
          <table class="table-container">
            <tbody>
              <tr>
                  <th>first name</th>
                  <th>last name</th>
                  <th>phone</th>
                  <th>email</th>
  <!--
                  <th>address</th>
                  <th>city state zip</th>
  -->
                  <th>active</th>
                </tr>
                <tr  *ngFor="let al of (memberlist | asFilter:activeFilter:familyFilter:VIPFilter:nametagFilter:firstNameFilter:lastNameFilter);" [class.itemselected]="item === selectedItem" (click)="onUsingTable(al)" >

                  <td> {{al.firstName}} </td>
                  <td> {{al.lastName}} </td>
                  <td>{{al.phone}}</td>
                  <td>{{al.email}}</td>
  <!--
                  <td> {{al.address}}</td>
                  <td> {{al.city}} {{al.state}} {{al.zip}}</td>
  -->
                  <td>{{isChecked(al.isActive)}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        <!--<ul class="list-group">
            <li *ngFor="let member of memberlist; let i=index" class="list-group-item">
            <span title="Remove member" class="badge" (click)="delMember(i) ">x</span>
            <label><input type="checkbox" [(ngModel)]="member.completed" name="memberDone"> {{member.email}}</label>
            </li>
        </ul>-->
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div >
          <h3>Member Detail</h3>
        </div>
        <div class="form-group">
          <form (submit)="submitForm()" #memberForm="ngForm" autocomplete="off">
            <!--<span [hidden]="member.email.valid" class="badge badge-warning">Required</span>-->
            <div *ngIf="showInputs">
              <div>
                <label for="selNametag">needs name tag</label>
                <input type="checkbox" [checked]="member.needsNametag" (change)="member.needsNametag=!member.needsNametag">
                | Membership Level: {{member.memType}}
              </div>
              <div class="form-inline">
                <label for="email">Email</label>
                <input [(ngModel)]="member.email" id="Email" name="memberName" type="text" class="form-control input-custom" size="20">
              </div>
              <div class="form-inline">
                <label for="fn">First Name</label>
                <input required [(ngModel)]="member.firstName" id="fn" name="firstName" type="text" class="form-control input-custom" size="10">
                <label for="ln">Last Name</label>
                <input required [(ngModel)]="member.lastName" id="ln" name="lastName" type="text" class="form-control input-custom" size="15">
              </div>
              <div class="form-inline">
                <label for="addr">Address</label>
                <input [(ngModel)]="member.address" id="addr" name="address" type="text" class="form-control input-custom" size="30">
              </div>
              <div class="form-inline">
                <label for="city">City</label>
                <input [(ngModel)]="member.city" id="city" name="city" type="text" class="form-control input-custom" size="15">
                <label for="state">State</label>
                <input [(ngModel)]="member.state" id="state" name="state" type="text" class="form-control input-custom" size="2" >
                <label for="zip">Zip</label>
                <input [(ngModel)]="member.zip" id="zip" name="zip" type="text" class="form-control input-custom" size="6">
              </div>
              <div class="form-inline">
                <label for="ph">Phone</label>
                <input [(ngModel)]="member.phone" id="ph" name="phone" type="text" class="form-control input-custom" size="10">
                Family Of: {{member.parentName}}
              </div>
              <div class="form-inline">
                <label for="skills">Notes</label>
                <input [(ngModel)]="member.skills" id="skills" name="skills" type="text"class="form-control input-custom" size="50">
              </div>
              </div>
            <div class="submit">
              <button *ngIf="isShowSubmit" type="submit" class="{{btnstyle}}">Save</button>
              <button *ngIf="isShowDiscard" type="button" class="{{btnstyle}}" (click)="onDiscardMember()">Discard</button>
              <button *ngIf="isShowAddFamily" type="button" class="btn-custom" (click)="onAddFamily()" >Add Family</button>
              <button *ngIf="isShowToggleVIP" type="button" class="btn-custom" (click)="onToggleVIP()" >Toggle VIP</button>
            </div>
            <div>
               {{saveResults}} <!-- This is the return message -->
            </div>
            <!--<label><input type="checkbox" [(ngModel)]="showCompleted" name="memberCompleted"> show completed</label>-->
          </form>
        </div>
      </div>

      <div class="col-md-6">
<!--        <as-payment *ngIf="selected" [member]="getMember()" (OnPayModified)="onPayModified($event)"    (OnSaved)="onSave($event)"></as-payment>-->
        <as-payment [member]="getMember()" (OnPayModified)="onPayModified($event)" (OnResponse)="onResponse($event)"    (OnSaved)="onSave($event)"></as-payment>
      </div>

    </div>

  </div>
</div>

